
$color-primary:#55c57a;
$color-primary-light:#7ed56f;
$color-primary-dark:#28b485;
$colot-grey-dark:#777;
$colot-grey-dark-2:#999;
$colot-grey-dark-3:#333;
$color-white:#fff;
$color-black:black;
$color-grey-light-1:#f7f7f7;
$color-secondary-light:#ffb980;
$color-secondary-dark:#ff7730;
$color-tertiary-light:#2998ff;
$color-tertiary-dark:#5643fa;
//Font
$default-font-size: 1.6rem;
//grid
$grid-width:114rem;
$grid-col-2:450px;
$grid-col-mc:200px;
$gutter-vertical:8rem;
$gutter-horizontal:6rem;
